/*--------GENERALES-------*/

body {
	background: url("Light_From_Right_1600 x 1200.jpg") no-repeat center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Oxygen', sans-serif;

}

.container {
	
	width: 1200px;
	margin: 0 auto;
}

/*---------HEADER-----------*/

.menu {
	text-align: center;
	margin: 30px 0px;
}

.menu a {
	text-decoration: none;
	color: white;
	padding: 10px;
	color: #343B80;
	font-family: 'Caveat Brush', cursive;
	font-size: 25px;

}

.logo h1 {
	font-family: 'Caveat Brush', cursive;
	text-align: center;
	color: #343B80;
	font-size: 75px;
	display: inline;
}

.logo {
	text-align: center;
	margin-top: 20px;
}

.logo_img {
	width: 70px;
}

.logo a {
	text-decoration: none;
}

/*----HEADER ADMIN----*/

.menu_users {
	text-align: center;
}

.menu_users a {
	text-decoration: none;
	color: white;
	padding: 10px;
	color: #343B80;
	font-family: 'Caveat Brush', cursive;
	font-size: 25px;

}

.user {
	text-align: center;

}



/*-------------MAIN MESSAGE-----------*/

.box_chat {
	width: 100%;
	background-color: white;
	 
}
.box_writeMessage {

	background-color: #F9F9F9;
	padding: 20px 5px 5px 5px;

}

.users_in {
	
	padding: 0px 0px 0px 10px;
}

.bloc_texte {
	word-wrap: break-word;
	padding : 15px 10px 15px 10px;
}

.bloc_texte h2 {

	font-size: 20px;
}
.bloc_texte p {
	padding: 5px 10px;
}
#content_text {
	width: 85%;
	height: 50px;
	word-wrap: break-word;
}

.users {
	float: left;
	width: 30%;
	background-color: red;
	display: none;
}

.message {
	float:right;
	width: 100%;
	background-color: white;
	border : 1px solid #eee;
	
}

.bouton_envoyer {

	float:right;
	width: 10%;
	
}

.affichage_message {
	height: 450px;
	overflow : auto;
}


/*--------------PAGE LOGIN------------*/

.box_login {

	width: 600px;
	margin: 0 auto;
	padding: 50px;

}

.box_login input{
	width: 100%;
	margin: 20px 0px;
	/*padding: 5px 10px;*/
	

}

.bouton_login {
	border:none;
	width: 100%;
 	background-color: #343B80;
 	margin-top: 20px;
 	padding: 10px 0px;
 	color :white;
 	font-size: 15px;
}

/*-----------PAGE REGISTER--------------*/

.box_register {

width: 50%;
margin: 0 auto;
border : 2px solid rgba(52,59,128, 0.8);
background-color: #fff;
padding: 50px 50px;
}

.box_register h1 {
    margin: 0;
	font-family: 'Caveat Brush', cursive;
	text-align: center;
}

.box_infosRegister input, .box_infosRegister label {
	
	display:block;
	width: 100%;
	margin: 20px 0px;
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;

}


.active_users {
	float: right;
	width: 30%;
	background: white;
}

.box_chat {
	float: left;
	width: 60%;
}

.active_users ul li {
	list-style:none;
}